<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>신나는 개발자</title>
</head>
<body>
<div layout:fragment="content" class="container my-3">
    <div class="container">
        <div id="outer-div" class="d-flex justify-content-center align-items-center">
            <p id="demo">Exciting Developer!</p>
        </div>
    </div>
    <script>
        const textElement = document.getElementById('demo');
        const textInput = document.querySelector('input')

        function animate() {
            var text = textElement.innerHTML;
            text = text.replace(" ", "_")
            var len = text.length
            var wrapped = "";
            for (var i in text) {
                wrapped += '<span>' + text.charAt(i) + '</span>';
            }
            textElement.innerHTML = wrapped
            var delay = 0
            for (var i = 0; i < len; i++) {
                var childQuery = "#demo span:nth-child(" + (i + 1) + ")"
                document.querySelector(childQuery).style.animationDelay = delay + "s";
                delay += 0.25
            }
            document.querySelectorAll('#demo span').forEach(span => span.classList.add('animated'))
        }

        function updateInner() {
            textElement.innerHTML = textInput.value
        }

        animate();
    </script>
</div>

</body>
</html>